/*fix height issue on logo*/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:  local('Lato'),
				url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
	font-family: "Lato";
}

body > #app .header .logo img {
  margin-top: 10px;
  margin-left: 30px;
  height: 25px;
}