/*fix height issue on logo*/
@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src:  local('Questrial'),
				url('../fonts/Questrial-Regular.ttf') format('truetype');
}

body {
	font-family: "Questrial";
}

body > #app .header .logo img {
  margin-top: 10px;
  padding-left: 10px;
  height: 25px;
}